[global]
env=prod

[server]
port=:9003

[path]
image_dir=
storage_dir=
seo_dir=

[elasticsearch]
address=
user=
password=

[github]
client_id=
client_secret=

[proxy]
request=
file=

[ip]
ipip_file=
geo_file=